rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    match /products/{productId} {

      allow read: if request.auth != null;

      allow create: if request.auth != null
                    && request.resource.data.sellerId == request.auth.uid;

      allow update: if request.auth != null
                    && resource.data.sellerId == request.auth.uid
                    && request.resource.data.sellerId
                       == resource.data.sellerId;

      allow delete: if request.auth != null
                    && resource.data.sellerId == request.auth.uid;
    }

    match /users/{userId} {

      allow read: if request.auth != null
                    && request.auth.uid == userId;

      allow create: if request.auth != null
                      && request.auth.uid == userId;

      allow update: if request.auth != null
                      && request.auth.uid == userId;

      allow delete: if false;

      match /favorites/{favoriteId} {

        allow read: if request.auth != null
                      && request.auth.uid == userId;

        allow create: if request.auth != null
                      && request.auth.uid == userId
                      && request.resource.data.productId == favoriteId;

        allow update: if request.auth != null
                      && request.auth.uid == userId
                      && request.resource.data.productId == favoriteId;

        allow delete: if request.auth != null
                      && request.auth.uid == userId;
      }

      match /notifications/{notificationId} {

        allow read: if request.auth != null
                    && request.auth.uid == userId;

        allow create: if request.auth != null
                      && request.resource.data.title is string
                      && request.resource.data.message is string
                      && request.resource.data.isRead == false;

        allow update: if request.auth != null
                      && request.auth.uid == userId
                      && request.resource.data.diff(resource.data)
                         .affectedKeys()
                         .hasOnly(['isRead']);

        allow delete: if request.auth != null
                      && request.auth.uid == userId;
      }
    }


    match /offers/{offerId} {

      allow read: if request.auth != null;

      allow create: if request.auth != null
                    && request.resource.data.sellerId
                       == request.auth.uid;

      allow update: if request.auth != null
                    && resource.data.sellerId
                       == request.auth.uid
                    && request.resource.data.sellerId
                       == resource.data.sellerId;

      allow delete: if request.auth != null
                    && resource.data.sellerId
                       == request.auth.uid;

      match /items/{itemId} {

        allow read: if request.auth != null;

        allow create: if request.auth != null
                      && get(
                        /databases/$(database)/documents/offers/$(offerId)
                      ).data.sellerId
                         == request.auth.uid;

        allow update: if request.auth != null
                      && (
                        (
                          get(
                            /databases/$(database)/documents/offers/$(offerId)
                          ).data.sellerId
                             == request.auth.uid
                        )
                        ||
                        (
                          resource.data.reservedBy
                             == request.auth.uid
                          && request.resource.data.reservedBy
                             == null
                          && request.resource.data.status
                             == 'Available'
                          && request.resource.data.diff(resource.data)
                             .affectedKeys()
                             .hasOnly([
                               'status',
                               'reservedBy',
                               'reservedAt'
                             ])
                        )
                      );

        allow delete: if request.auth != null
                      && get(
                        /databases/$(database)/documents/offers/$(offerId)
                      ).data.sellerId
                         == request.auth.uid;

        match /reservations/{reservationId} {

          allow read: if request.auth != null
                      && (
                        request.auth.uid == reservationId
                        ||
                        get(
                          /databases/$(database)/documents/offers/$(offerId)
                        ).data.sellerId
                           == request.auth.uid
                      );

          allow create: if request.auth != null
                        && request.auth.uid == reservationId
                        && request.resource.data.userId
                           == request.auth.uid
                        && (
                          request.resource.data.status
                             == 'Active'
                          ||
                          request.resource.data.status
                             == 'Waiting'
                        );

          allow update: if request.auth != null
                        && request.auth.uid == reservationId
                        && request.resource.data.userId
                           == request.auth.uid;

          allow delete: if false;
        }
      }
    }

    match /chats/{chatId} {

      allow get: if request.auth != null
                 && (
                   !exists(
                     /databases/$(database)/documents/chats/$(chatId)
                   )
                   || request.auth.uid in resource.data.participants
                 );

      allow list: if request.auth != null
                  && request.auth.uid in resource.data.participants;

      allow create: if request.auth != null
                    && request.resource.data.buyerId is string
                    && request.resource.data.sellerId is string
                    && request.resource.data.buyerId
                       != request.resource.data.sellerId
                    && request.resource.data.participants is list
                    && request.resource.data.participants.size() == 2
                    && request.auth.uid
                       == request.resource.data.buyerId
                    && request.resource.data.participants.hasAll([
                      request.resource.data.buyerId,
                      request.resource.data.sellerId
                    ]);

      allow update: if request.auth != null
                    && request.auth.uid in resource.data.participants;

      allow delete: if false;

      match /messages/{messageId} {

        allow read: if request.auth != null
                    && request.auth.uid in
                       get(
                         /databases/$(database)/documents/chats/$(chatId)
                       ).data.participants;

        allow create: if request.auth != null
                      && request.auth.uid in
                         get(
                           /databases/$(database)/documents/chats/$(chatId)
                         ).data.participants
                      && request.resource.data.senderId
                         == request.auth.uid;

        allow update, delete: if false;
      }
    }
  }
}