rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    match /products/{productId} {

      // المستخدم المسجل يقدر يشوف المنتجات
      allow read: if request.auth != null;

      // المستخدم يقدر يضيف منتج باسمه فقط
      allow create: if request.auth != null
                    && request.resource.data.sellerId == request.auth.uid;

      // المستخدم يقدر يعدل منتجاته فقط
      // ولا يمكن تغيير صاحب المنتج
      allow update: if request.auth != null
                    && resource.data.sellerId == request.auth.uid
                    && request.resource.data.sellerId
                       == resource.data.sellerId;

      // المستخدم يقدر يحذف منتجاته فقط
      allow delete: if request.auth != null
                    && resource.data.sellerId == request.auth.uid;
    }

    match /users/{userId} {

      // المستخدم يقدر يقرأ بيانات حسابه فقط
      allow read: if request.auth != null
                    && request.auth.uid == userId;

      // المستخدم يقدر إنشاء بيانات حسابه فقط
      allow create: if request.auth != null
                      && request.auth.uid == userId;

      // المستخدم يقدر تعديل بيانات حسابه فقط
      allow update: if request.auth != null
                      && request.auth.uid == userId;

      // لا نحتاج حذف حساب المستخدم من التطبيق حاليًا
      allow delete: if false;
    }
  }
}